<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="main-nav-bar" class="navbar">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="home-link" class="nav-item" data-hook>
        <%= link_to Spree.t(:home), spree.root_path, class: 'nav-link' %>
      </li>
      <li id="link-to-cart" class="nav-item" data-hook>
        <%= render partial: 'spree/shared/link_to_cart' %>
      </li>
      <%= render partial: 'spree/shared/locale_selector' %>
    </ul>
  </div>
  </div>
</nav>
